$z-image: 1;
$z-crop: 2;
$crop-margin: 40px;
$crop-fade-preview: rgba(55, 55, 75, 0.7);
$crop-fade-edit:    rgba(55, 55, 75, 0.2);
$transition-delay: 250ms;
$preview-duration: 750ms;
$edit-duration: 100ms;
$white: #FFFFFF;

.minicrop {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;

  background: $white;

  transform: translateZ(0);

  &.edit {
    .crop {
      outline-color: $crop-fade-edit;

      transition: outline-color $edit-duration ease-in;
    }
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;

    z-index: $z-image;

    transition: filter $preview-duration ease-in-out $transition-delay;
  }

  .crop {
    top:    $crop-margin;
    right:  $crop-margin;
    bottom: $crop-margin;
    left:   $crop-margin;

    position: absolute;
    overflow: hidden;
    border: 2px solid $white;
    outline: $crop-margin * 2 solid $crop-fade-preview;

    pointer-events: none;

    z-index: $z-crop;

    transition: outline-color $preview-duration ease-in-out $transition-delay;
  }
}
